<div class="container py-4">
    <button type="button" class="btn btn-info" routerLink="/events/AddEvent">Proposer un événement</button>

    <h2 class="mb-3">Liste des événements</h2>

    <!-- Recherche -->
    <input type="text" class="form-control mb-4"
           placeholder="Rechercher un événement"
           [(ngModel)] = "searchItem"
>

    <div class="row g-3">
        <div class="col-md-4"  *ngFor="let event of filter()"> 
             <app-cart [event]="event" (notiflike)="incrLikes(event)" (notifBuy)="buyTicket(event)"></app-cart>
        </div>

       
      </div>
   
</div>